.auth-form{
    margin: 0 auto;
    width: 30%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    border-radius: .2em;
    flex-direction: column;
    @media screen and (max-width: 900px) {
      width: 60%;
      }
      @media screen and (max-width: 600px) {
        width: 80%;
        }
    .ant-form{
        width: 80%;
  
     .submit-block .ant-form-item-control{
         display: flex;
         align-items: center;
         justify-content: center;
      .ant-form-item-control-input{
          width: 100%;
      }
     }
}
}
.login-form-button{
    width: 100%;
}